<div class="account-lang-currency upper-bar header-theme-bg-primary header-theme-text-for-primary-bg" style="{% if settings.header_background_color %}background: {{ settings.header_background_color }}{% endif %};">
    <div class="d-flex justify-content-end px-4 gap-4">
        {% set ab_settings=settings %}{% include 'components/header-announcement-bar.jinja' %}

        {% set multiple_languages = store.languages | length > 1 %}

        {% if ('hide_country' not in safeget(settings, "header_options", [])) or (multiple_languages and 'hide_language'
        not in safeget(5, "header_options", [])) %}

        <div class="language-currency d-flex justify-content-between" onclick="zidOpenRegionSettingDialog()">
            {% if session.lang == 'en' %}
            {% set change_to_lang = 'ar' %}
            {% set change_to_lang_name = 'العربية' %}
            {% else %}
            {% set change_to_lang = 'en' %}
            {% set change_to_lang_name = 'English' %}
            {% endif %}

            {% if 'hide_country' not in safeget(settings, "header_options", []) %}
            {% if session.shipping_destination %}
            <div class="currency-button-area d-flex justify-content-center">
                <button class="c-btn currency-btn">{{ session.shipping_destination.country.name }} - {{
                    session.shipping_destination.name }} </button>
            </div>

            {% else %}
            <div class="currency-button-area d-flex justify-content-center">
                <button class="c-btn currency-btn">{{ session.country.names[session.lang] }}</button>
                {% if session.country and session.country.code %}
                <img src="https://flagsapi.com/{{ session.country.code }}/flat/32.png"
                alt="{{ session.country.name }}" style="width:30px">
                {% endif %}
            </div>

            {% endif %}
            {% endif %}

            {% if ('hide_country' not in safeget(settings, "header_options", [])) and ('hide_language' not in
            safeget(settings, "header_options", [])) %}

            {% endif %}
            {% if multiple_languages and 'hide_language' not in safeget(settings, "header_options", []) %}
            <div class="language-button-area d-flex justify-content-between">
                <button type="submit" class='c-btn language-btn d-flex justify-content-between align-items-center'>
                    <span class="px-2">{{ change_to_lang_name }}</span>
                </button>
            </div>
            {% endif %}

        </div>
        {% endif %}
    </div>
</div>